.authForm {
  border: 1px solid black;
  top: 50%;
  padding: 10px;
  margin: 10px
}

@media (min-width: 350px) {
  .authForm {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }

  .authForm::before{
    display: flex;
  }
}

.authInput {
  width: 90%;
  padding: 5px;
  margin: 5px;
}

.authTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.authButton {
  border: none;
  padding: 5px;
  margin: 10px;
  background: #ff547e;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.error{
  color: red;
}